-if @auth.present? && (@auth.is_admin == true)
  #addflight
    =link_to('Add Flight', new_flight_path, :remote => true, :class => 'button tiny success')
-if @auth.present? && (@auth.is_admin == false)
  #searchflight
    =link_to('Search Flights', search_flights_path, :remote => true, :class => 'button tiny success')
#flight_form
#flights
  %table#flight_table
    %tr
      %th Date
      %th Flight
      %th Origin => Destination
      %th Plane
      -if @auth.present? && (@auth.is_admin == true)
        %th Available Seats
    -@flights.each do |flight|
      %tr
        %td= flight.date
        %td= flight.name
        %td= "#{flight.origin} => #{flight.destination}"
        %td= flight.plane.name
        -if @auth.present? && (@auth.is_admin == true)
          %td= flight.seats.select{|x| x.is_taken == false}.count
