.row
  .large-4.small.columns#search_form
    = form_tag '/flights/destinations', :remote => true do |f|
      = label_tag :origin, 'Select origin:'
      = select_tag(:origin, options_from_collection_for_select(@flights, "id", "origin"))
      = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button tiny radius alert form_button')
      = submit_tag 'Search Destinations', :id => 'searchf', :class => 'button tiny radius info form_button'
  .large-9.columns