.row
  .large-4.smallcolumns#search_form
    = form_tag '/flights/search_flights', :remote => true do
      %div= "Your selected origin: #{@origin.origin}"
      = label_tag "Select destination: "
      = hidden_field_tag :origin, @origin.origin
      = select_tag(:destination, options_from_collection_for_select(@destinations, "id", "destination"))
      = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button tiny radius alert form_button')
      = submit_tag 'Search Itinerary', :id => 'searchf', :class => 'button tiny radius info '
  .large-9.columns