%h2#fid= @flight.id
%span.seats#num_available= "Seats available: #{@flight.seats.select{|x| x.is_taken == false}.count}"
%span.seats#num_taken= "Seats taken: #{@flight.seats.select{|x| x.is_taken == true}.count}"
.row
  .small-12.columns
    #show_flight_table
      %table
        - i=0
        - seats = @flight.seats.order(:id)
        -@flight.plane.aisles.times do |aisle|
          %tr
            %td= (aisle+65).chr
            -@flight.plane.rows.times do |row|
              %td
                -if seats[i].user.nil?
                  .available= "Available"
                -else
                  .taken= "#{seats[i].user.name.split[0]}"
                %div.seatsids= seats[i].id
                -i+=1
    = button_to("Purchase","#", :id => "purchase_btn", :class => 'button tiny radius alert')