= form_for @user, :remote => true do |f|
  = f.label :name
  = f.text_field :name, :autofocus => true
  = f.label :email
  = f.text_field :email
  = f.label :funfact, 'Fun Fact'
  = f.text_field :funfact
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button small radius alert')
  = f.submit 'Create Account', :class => 'button radius small info'





