.row
  .large-3.columns
    = form_for @user, :url => users_path, :remote => true do |f|
      = label_tag :name
      = text_field_tag :name, nil, :autofocus => true
      = label_tag :email
      = text_field_tag :email
      = label_tag :faunfact, 'Fun Fact'
      = text_field_tag :funfact
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button radius alert')
      = submit_tag 'Get Lost', :class => 'button radius success'
  .large-9.columns



